.nav{

}

/*@media (max-width: 1000px) and (min-width: 470px) { 
  .content-wrapper {padding: 0;} 
}*/

.main{
	background: red;
	width: 100px;
	height: 100px; 
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-animation: go-left-right 5s infinite alternate ;






}

@-webkit-keyframes go-left-right {
    from {
      left: 0px;
    }
    to {
      left: calc(100% - 5.2%);
    }
  }


.brick{
	background-color: brown;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 25px;
	right: 50%;
	top: 50%;
	-webkit-animation: go-top-bottom 4.5s infinite alternate ;

}


@-webkit-keyframes go-top-bottom {
    from {
      top: 0px;
    }
    to {
      top: calc(100% - 10.3%);
    }
  }




.brick1{
	background-color: brown;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 25px;
	right: 50%;
	top: 50%;
	-webkit-animation: go-right-left 5s infinite alternate ;
	
}

@-webkit-keyframes go-right-left {
    from {
      right: 0px;
    }
    to {
      right: calc(100% - 5.2%);
    }
  }



.brick2{
	background-color: brown;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 25px;
	right: 50%;
	bottom: 50%;
	-webkit-animation: go-bottom-top 4.5s infinite alternate;
	
}


@-webkit-keyframes go-bottom-top {
    from {
      bottom: 0%;
    }
    to {
      bottom: calc(100% - 10.3%);
    }
  }



.table{
	width: 300px;
	height: 300px;
	background-color: grey;
	left:10%;
	top: 5%;
	position: absolute;

}



#d1:hover{
	background-color: pink;
	transform: translateX(100);
}























	
.example_div {
    background-color: green;
    /* стиль трансформации */
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;   
     
    /* стили для квадрата*/
    cursor: pointer;
    width: 100px;
    height: 70px;
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
}
.example_div:hover {
    /* меняем цвет */
    background-color: red;  
     
    /* поворот элемента*/
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);  
     
    /* трансформация в круг*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
